**/__pycache__
data.json
config.yml
**/node_modules
tests/e2e_tests/cypress/screenshots/


# coverage based artifacts
htmlcov
.coverage
coverage.lcov

# build specific artifacts
dist


# IDE-specific directories
.vscode
.idea
*~

# translation specific files
goodmap/locale/*/LC_MESSAGES/*.mo
*.pot

# e2e stress test files
e2e_stress_test_data.json
