# -- Basic app configuration
APP_NAME: My awesome goodmap application

## -- Flask's SECRET_KEY. In production environment you should set it and keep secret.
## -- Ref: https://flask.palletsprojects.com/en/2.1.x/config/
# SECRET_KEY: YOU SHOULD CHANGE IT!!!

## -- Languages supported by application
## -- First language would be used as default
LANGUAGES:
  en:
    name: English
    flag: uk
#  pl:
# . name: polski
# . flag: pl

# -- Database configuration

## -- DB stored in simple json file
DB:
  TYPE: json_file
  DATA_FILE_PATH: data.json

## -- DB stored in google cloud storage as json.
# db:
#   type: google_hosted_json_file
#   bucket_name: good-map
#   source_blob_name: data.json

## -- List of overwrites for routes. Useful in frontend development.
ROUTE_OVERWRITES:
  /static/map.js: https://cdn.jsdelivr.net/npm/@problematy/goodmap@0.1.2
