[tool.poetry]
name = "goodmap"
version = "0.1.0"
description = ""
authors = ["Krzysztof Kolodzinski <krzysztof.kolodzinski@problematy.pl>"]

[tool.poetry.dependencies]
python = "^3.10"
Flask = "^2.1.1"
pytest = "^7.1.2"
gunicorn = "^20.1.0"
google-cloud-storage = "^2.3.0"
PyYAML = "^6.0"
Babel = "^2.10.3"
Flask-Babel = "^2.0.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
