<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link arrow-none" href="{% url 'index' %}" id="topnav-dashboard" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-view-dashboard me-1"></i> Dashboard
                        </a>
                        
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-ui" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-invert-colors me-1"></i> UI Elements <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu dropdown-mega-menu-xl" aria-labelledby="topnav-ui">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="{% url 'buttons' %}" class="dropdown-item">Buttons</a>
                                        <a href="{% url 'cards' %}" class="dropdown-item">Cards</a>
                                        <a href="{% url 'avatars' %}" class="dropdown-item">Avatars</a>
                                        <a href="{% url 'tabs-accordions' %}" class="dropdown-item">Tabs & Accordions</a>
                                        <a href="{% url 'modals' %}" class="dropdown-item">Modals</a>
                                        <a href="{% url 'progress' %}" class="dropdown-item">Progress</a>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <a href="{% url 'notifications' %}" class="dropdown-item">Notifications</a>
                                        <a href="{% url 'offcanvas' %}" class="dropdown-item">Offcanvas</a>
                                        <a href="{% url 'placeholders' %}" class="dropdown-item">Placeholders</a>
                                        <a href="{% url 'spinners' %}" class="dropdown-item">Spinners</a>
                                        <a href="{% url 'images' %}" class="dropdown-item">Images</a>
                                        <a href="{% url 'carousel' %}" class="dropdown-item">Carousel</a>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <a href="{% url 'video' %}" class="dropdown-item">Embed Video</a>
                                        <a href="{% url 'dropdowns' %}" class="dropdown-item">Dropdowns</a>
                                        <a href="{% url 'tooltips-popovers' %}" class="dropdown-item">Tooltips & Popovers</a>
                                        <a href="{% url 'general' %}" class="dropdown-item">General UI</a>
                                        <a href="{% url 'typography' %}" class="dropdown-item">Typography</a>
                                        <a href="{% url 'grid' %}" class="dropdown-item">Grid</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe-grid me-1"></i> Apps <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">

                            <a href="{% url 'calendar' %}" class="dropdown-item">Calendar</a>
                            <a href="{% url 'chat' %}" class="dropdown-item">Chat</a>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Email <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-email">
                                    <a href="{% url 'inbox' %}" class="dropdown-item">Inbox</a>
                                    <a href="{% url 'templates' %}" class="dropdown-item">Email Templates</a>
                                </div>
                            </div> 

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-task"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tasks <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-task">
                                    <a href="{% url 'details' %}" class="dropdown-item">Details</a>
                                    <a href="{% url 'kanban-board' %}" class="dropdown-item">Kanban Board</a>
                                </div>
                            </div> 
                            <div class="dropdown">
                                <a class="dropdown-item arrow-none" href="{% url 'projects' %}" id="topnav-contact"
                                    role="button" aria-haspopup="true" aria-expanded="false">
                                    Projects
                                </a>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-contacts"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Contacts <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-contacts">
                                    <a href="{% url 'list' %}" class="dropdown-item">Members List</a>
                                    <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-lifebuoy me-1"></i> Components <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="{% url 'widgets' %}" class="dropdown-item">Widgets</a>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-extendedui"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Extended UI <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-extendedui">
                                    <a href="{% url 'range-slider' %}" class="dropdown-item">Range Slider</a>
                                    <a href="{% url 'sweet-alerts' %}" class="dropdown-item">Sweet Alert</a>
                                    <a href="{% url 'draggable-cards' %}" class="dropdown-item">Draggable Cards</a>
                                    <a href="{% url 'tour' %}" class="dropdown-item">Tour Page</a>
                                    <a href="{% url 'notification' %}" class="dropdown-item">Notification</a>
                                    <a href="{% url 'treeview' %}" class="dropdown-item">Tree View</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-form"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Forms <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-form">
                                    <a href="{% url 'elements' %}" class="dropdown-item">General Elements</a>
                                    <a href="{% url 'advanced' %}" class="dropdown-item">Advanced</a>
                                    <a href="{% url 'validation' %}" class="dropdown-item">Validation</a>
                                    <a href="{% url 'wizard' %}" class="dropdown-item">Wizard</a>
                                    <a href="{% url 'quilljs' %}" class="dropdown-item">Quilljs Editor</a>
                                    <a href="{% url 'pickers' %}" class="dropdown-item">Pickers</a>
                                    <a href="{% url 'file-uploads' %}" class="dropdown-item">File Uploads</a>
                                    <a href="{% url 'x-editable' %}" class="dropdown-item">X Editable</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-charts"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Charts <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-charts">
                                    <a href="{% url 'flot' %}" class="dropdown-item">Flot Charts</a>
                                    <a href="{% url 'morris' %}" class="dropdown-item">Morris Charts</a>
                                    <a href="{% url 'chartjs' %}" class="dropdown-item">Chartjs Charts</a>
                                    <a href="{% url 'chartist' %}" class="dropdown-item">Chartist Charts</a>
                                    <a href="{% url 'sparklines' %}" class="dropdown-item">Sparklines Charts</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-table"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tables <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-table">
                                    <a href="{% url 'basic' %}" class="dropdown-item">Basic Tables</a>
                                    <a href="{% url 'datatables' %}" class="dropdown-item">Data Tables</a>
                                    <a href="{% url 'editable' %}" class="dropdown-item">Editable Tables</a>
                                    <a href="{% url 'responsive' %}" class="dropdown-item">Responsive Tables</a>
                                    <a href="{% url 'tablesaw' %}" class="dropdown-item">Tablesaw Tables</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Icons <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                    <a href="{% url 'feather' %}" class="dropdown-item">Feather Icons</a>
                                    <a href="{% url 'mdi' %}" class="dropdown-item">Material Design Icons</a>
                                    <a href="{% url 'dripicons' %}" class="dropdown-item">Dripicons</a>
                                    <a href="{% url 'font-awesome' %}" class="dropdown-item">Font Awesome 5</a>
                                    <a href="{% url 'themify' %}" class="dropdown-item">Themify</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Maps <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="{% url 'google' %}" class="dropdown-item">Google Maps</a>
                                    <a href="{% url 'vector' %}" class="dropdown-item">Vector Maps</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-cards-outline me-1"></i> Pages <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Auth Style <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth">
                                    <a href="{% url 'login' %}" class="dropdown-item">Log In</a>
                                    <a href="{% url 'register' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'recoverpw' %}" class="dropdown-item">Recover Password</a>
                                    <a href="{% url 'lock-screen' %}" class="dropdown-item">Lock Screen</a>
                                    <a href="{% url 'confirm-mail' %}" class="dropdown-item">Confirm Mail</a>
                                    <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-error"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Errors <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-error">
                                    <a href="{% url '404' %}" class="dropdown-item">Error 404</a>
                                    <a href="{% url '500' %}" class="dropdown-item">Error 500</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-utility"
                                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Utility <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-utility">
                                    <a href="{% url 'pricing' %}" class="dropdown-item">Pricing</a>
                                    <a href="{% url 'timeline' %}" class="dropdown-item">Timeline</a>
                                    <a href="{% url 'invoice' %}" class="dropdown-item">Invoice</a>
                                    <a href="{% url 'faqs' %}" class="dropdown-item">FAQs</a>
                                    <a href="{% url 'gallery' %}" class="dropdown-item">Gallery</a>
                                    <a href="{% url 'maintenance' %}" class="dropdown-item">Maintenance</a>
                                    <a href="{% url 'coming-soon' %}" class="dropdown-item">Coming Soon</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layout" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-card-bulleted-settings-outline me-1"></i> Layouts <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layout">
                            <a href="{% url 'horizontal' %}" class="dropdown-item">Horizontal</a>
                            <a href="{% url 'index' %}" class="dropdown-item">Vertical</a>
                            <a href="{% url 'preloader' %}" class="dropdown-item">Preloader</a>
                        </div>
                    </li>
                </ul> <!-- end navbar-->
            </div> <!-- end .collapsed-->
        </nav>
    </div> <!-- end container-fluid -->
</div> <!-- end topnav-->