{% load static %}
<!-- Topbar Start -->
<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-end mb-0">

        <li class="dropdown notification-list topbar-dropdown">
            <a class="nav-link dropdown-toggle nav-user me-0 waves-effect waves-light" data-bs-toggle="dropdown"
               href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="https://ui-avatars.com/api/?name={{ request.user.get_full_name }}" alt="user-image"
                     class="rounded-circle">


                <span class="pro-user-name ms-1">
                        {{ request.user.get_full_name }} <i class="mdi mdi-chevron-down"></i>
                    </span>
            </a>
            <div class="dropdown-menu dropdown-menu-end profile-dropdown ">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item notify-item">
                        <i class="fe-log-out"></i>
                        <span>Logout</span>
                    </button>
                </form>
            </div>
        </li>
    </ul>
    <!-- LOGO -->
    <div class="logo-box">
        <a href="{% url 'index' %}" class="logo logo-light text-center">
                <span class="logo-sm">
                    <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                </span>
            <span class="logo-lg">
                    <img src="{% static 'images/logo-light.png' %}" alt="" height="16">
                </span>
        </a>
        <a href="{% url 'index' %}" class="logo logo-dark text-center">
                <span class="logo-sm">
                    <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                </span>
            <span class="logo-lg">
                    <img src="{% static 'images/logo-dark.png' %}" alt="" height="16">
                </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left mb-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>
    </ul>

    <div class="clearfix"></div>

</div>
<!-- end Topbar -->