{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/title-meta.html" with title="Login" %}

{% include "partials/head-css.html" %}


<body class="loading authentication-bg authentication-bg-pattern">

<div class="account-pages my-5">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="text-center mb-4">
                            <h4 class="text-uppercase mt-0">Sign In</h4>
                        </div>

                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="emailaddress" class="form-label">Email address</label>
                                <input class="form-control" type="email" id="emailaddress" name="email" required=""
                                       placeholder="Enter your email">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required=""
                                       placeholder="Enter your password">
                            </div>
                            <div class="mb-3 d-grid text-center">
                                <button class="btn btn-primary" type="submit">Log In</button>
                            </div>
                        </form>

                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

<!-- Vendor -->
{% include "partials/vendor.html" %}


<!-- App js -->
<script src="{% static 'js/app.min.js' %}"></script>

</body>
