{% extends "partials/base.html" %}

{% load static %}

{% block title %}Type of Places Management{% endblock %}

{% block extra_css %}
    <!-- Стили, если необходимы -->
{% endblock %}

{% block topbar %}
    {% include "partials/topbar.html" with pagetitle="Type of Places Management" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Type of Place</h4>
                    <a href="{% url 'type_of_place_create' %}" class="btn btn-success">Add Type of Place</a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-centered mb-0" id="btn-editable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-nowrap">Type of Place</th>
                                <th>Attributes</th>
                                <th>
                                    <div class="d-flex align-items-center justify-content-center gap-2">
                                        Actions
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for type_of_place, attrs in types_of_places_with_attrs %}
                                <tr data-type-of-place-id="{{ type_of_place.id }}">
                                    <td>{{ forloop.counter0|add:start_index }}</td>
                                    <td>{{ type_of_place.name }}</td>
                                    <td>
                                        {% for attr in attrs %}
                                            <strong>{{ attr.attribute_name }}:</strong>
                                            {% for value in attr.values %}
                                                {{ value }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            <br>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a href="{% url 'type_of_place_edit' type_of_place.id %}"
                                               class="btn btn-sm btn-primary">Edit</a>
                                            <button class="btn btn-sm btn-danger delete-type-of-place-button"
                                                    data-type-of-place-id="{{ type_of_place.id }}">Delete
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if page.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}
                                {% for num in page.paginator.page_range %}
                                    {% if page.number == num %}
                                        <li class="page-item active"><a class="page-link"
                                                                        href="?page={{ num }}">{{ num }}</a></li>
                                    {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page.next_page_number }}">Next</a></li>
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page.paginator.num_pages }}">Last
                                        &raquo;</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/pages/type_of_place_list.init.js' %}"></script>
{% endblock %}
