name: Testing pipeline

on:
  pull_request:
    branches:
      - main
  workflow_call:

permissions:
  contents: 'read'

jobs:
  backend-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'  # TODO remove this line after the submodules are removed
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry==2.0.1
        poetry install
    - name: Run linters
      run: make lint-check
    - name: Run tests without coverage
      run: make unit-tests-no-coverage
    - name: Run tests with coverage
      run: make coverage
    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        path-to-lcov: "./coverage.lcov"
        github-token: ${{ secrets.GITHUB_TOKEN }}

  e2e-tests:
    needs: backend-test
    uses: problematy/goodmap-e2e-tests/.github/workflows/e2e-tests.yml@572c78cf1da91526c9f1139c7cc741f034f52ff6
    permissions:
      contents: read
      actions: read
    with:
      calling-repo: 'goodmap'
      goodmap-version: 'main'
      goodmap-frontend-version: 'main'
      goodmap-path: '.'
      e2e-tests-path: 'goodmap-e2e-tests'

